.link-checker-result, .link-checker-result-legend {
	background-repeat: no-repeat;
	height: 20px;
	padding-left: 24px;
}

.link-checker-unchecked {
	background-image: url('../images/unchecked.png');
}

.link-checker-success {
	background-image: url('../images/success.png');
}

.link-checker-redirect {
	background-image: url('../images/redirect.png');
}

.link-checker-error {
	background-image: url('../images/error.png');
}

#linkCheckerOptions {
	clear: both;
	overflow: hidden;
	height: auto;
}

.link-checker-legend {
	float: right;
}