.link-scanner-result, .link-scanner-result-legend {
	background-repeat: no-repeat;
}

.link-scanner-result-legend {
	height: 20px;
	padding-left: 24px;
}

.link-scanner-result {
	margin: 2px auto;
	width: 16px;
	height: 16px;
}

.link-scanner-unchecked {
	background-image: url('../images/unchecked.png');
}

.link-scanner-success {
	background-image: url('../images/success.png');
}

.link-scanner-redirect {
	background-image: url('../images/redirect.png');
}

.link-scanner-error {
	background-image: url('../images/error.png');
}

#linkScannerProgressBarContainer {
	clear: both;
	max-width: 350px;
}

#linkScannerOptions {
	clear: both;
	overflow: hidden;
	height: auto;
}

.link-scanner-legend {
	float: right;
}

.linkscanner-portlet .accordion-inner {
	overflow: hidden;
}

tr.link-scanner-row-link td.col-2 {
	padding-left: 20px;
}
