.link-checker-result {
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
}

.link-checker-unchecked {
	background-image: url('../images/unchecked.png');
}

.link-checker-success {
	background-image: url('../images/success.png');
}

.link-checker-redirect {
	background-image: url('../images/redirect.png');
}

.link-checker-error {
	background-image: url('../images/error.png');
}
